
    </main>
    {% if page.type == "post" %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="{{ site.url }}/js/min/jquery.fitvids-min.js"></script>
      <script src="{{ site.url }}/js/min/main-min.js"></script>
      <!-- <script src="{{ site.url }}/js/min/prism-min.js"></script> -->
    {% else %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="{{ site.url }}/js/min/main-min.js"></script>
    {% endif %}

  </body>

</html>
